<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="LambdaTest Android W3C Suite" parallel="false">

    <test name="Android W3C Execution">
        <parameter name="device" value="iPhone.*"/>
        <parameter name="version" value="26"/>
        <parameter name="platform" value="iOS"/>

        <classes>
            <class name="VanillaAndroidW3C"/>
        </classes>
    </test>

</suite>
